<header class="container-header">
    <div class="header-banniere"></div>
    <div class="header-navbar">
        <ul class="navbar-list">
            <li class="navbar-list-item">Accueil</li>
            <li class="navbar-list-item">Connexion</li>
            <li class="navbar-list-item">A propos</li>
        </ul>
    </div>
</header>